/nbproject/private/
/DesktopBranding/nbproject/private/
/TimelineAPI/nbproject/private/
/TimingFrameworkWrapper/nbproject/private/
/ToolsAPI/nbproject/private/
/ToolsPlugin/nbproject/private/
/UIComponents/nbproject/private/
/Algorithms/nbproject/private/
/AttributeColumnPropertyEditor/nbproject/private/
/AttributesAPI/nbproject/private/
/AttributesImpl/nbproject/private/
/BatikWrapper/nbproject/private/
/BeansBindingWrapper/nbproject/private/
/ClusteringAPI/nbproject/private/
/ClusteringPlugin/nbproject/private/
/CollectionUtils/nbproject/private/
/CommonsCodec/nbproject/private/
/CommonsCompressWrapper/nbproject/private/
/DataLaboratoryAPI/nbproject/private/
/DataLaboratoryPlugin/nbproject/private/
/DBDrivers/nbproject/private/
/DesktopClustering/nbproject/private/
/DesktopContext/nbproject/private/
/DesktopDataLaboratory/nbproject/private/
/DesktopExport/nbproject/private/
/DesktopFilters/nbproject/private/
/DesktopGenerate/nbproject/private/
/DesktopHierarchy/nbproject/private/
/DesktopImport/nbproject/private/
/DesktopLayout/nbproject/private/
/DesktopPartition/nbproject/private/
/DesktopPerspective/nbproject/private/
/DesktopPreview/nbproject/private/
/DesktopProgress/nbproject/private/
/DesktopProject/nbproject/private/
/DesktopRanking/nbproject/private/
/DesktopRecentFiles/nbproject/private/
/DesktopSpigot/nbproject/private/
/DesktopStatistics/nbproject/private/
/DesktopTimeline/nbproject/private/
/DesktopTools/nbproject/private/
/DHNSGraph/nbproject/private/
/DirectoryChooser/nbproject/private/
/DynamicAPI/nbproject/private/
/DynamicImpl/nbproject/private/
/ExecuteAtStartupExample/nbproject/private/
/ExportAPI/nbproject/private/
/ExportPlugin/nbproject/private/
/ExportPluginUI/nbproject/private/
/FilterPluginExample/nbproject/private/
/FiltersAPI/nbproject/private/
/FiltersImpl/nbproject/private/
/FiltersPlugin/nbproject/private/
/FiltersPluginUI/nbproject/private/
/FlamingoWrapper/nbproject/private/
/FractalDimension/nbproject/private/
/GeneratorAPI/nbproject/private/
/GeneratorPlugin/nbproject/private/
/GeneratorPluginUI/nbproject/private/
/Gleem/nbproject/private/
/GraphAPI/nbproject/private/
/ImportAPI/nbproject/private/
/ImportPlugin/nbproject/private/
/ImportPluginUI/nbproject/private/
/iTextWrapper/nbproject/private/
/JavaCSVWrapper/nbproject/private/
/JavaMailWrapper/nbproject/private/
/JCalendarWrapper/nbproject/private/
/JFreeChart/nbproject/private/
/JodaWrapper/nbproject/private/
/JOGLWrapper/nbproject/private/
/LayoutAPI/nbproject/private/
/LayoutPlugin/nbproject/private/
/LayoutPluginExample/nbproject/private/
/LongTaskAPI/nbproject/private/
/MostRecentFilesAPI/nbproject/private/
/PartitionAPI/nbproject/private/
/PartitionPlugin/nbproject/private/
/PartitionPluginUI/nbproject/private/
/PerspectiveAPI/nbproject/private/
/PreviewAPI/nbproject/private/
/PreviewExport/nbproject/private/
/PreviewExportUI/nbproject/private/
/PreviewPlugin/nbproject/private/
/ProcessingWrapper/nbproject/private/
/ProcessorPlugin/nbproject/private/
/ProcessorPluginUI/nbproject/private/
/ProjectAPI/nbproject/private/
/ProjectUI/nbproject/private/
/RankingAPI/nbproject/private/
/RankingPlugin/nbproject/private/
/RankingPluginUI/nbproject/private/
/SettingsUpgrader/nbproject/private/
/SpigotPlugin/nbproject/private/
/SpigotPluginUI/nbproject/private/
/SplineEditor/nbproject/private/
/StatisticsAPI/nbproject/private/
/StatisticsPlugin/nbproject/private/
/StatisticsPluginUI/nbproject/private/
/StaxUtils/nbproject/private/
/SwingX/nbproject/private/
/UIUtils/nbproject/private/
/Utils/nbproject/private/
/ValidationAPI/nbproject/private/
/VisualizationAPI/nbproject/private/
/VisualizationModule/nbproject/private/
/WelcomeScreen/nbproject/private/
/WorkspaceUI/nbproject/private/
/MostRecentFilesAPI/build/
/build/
/BeansBindingWrapper/build/
/DBDrivers/build/
/BatikWrapper/build/
/CommonsCodec/build/
/CommonsCompressWrapper/build/
/FlamingoWrapper/build/
/Gleem/build/
/iTextWrapper/build/
/JavaCSVWrapper/build/
/JavaMailWrapper/build/
/JCalendarWrapper/build/
/JOGLWrapper/build/
/TimingFrameworkWrapper/build/
/ValidationAPI/build/
/StaxUtils/build/
/ProcessingWrapper/build/
/PerspectiveAPI/build/
/SettingsUpgrader/build/
/CollectionUtils/build/
/Utils/build/
/LongTaskAPI/build/
/ProjectAPI/build/
/DesktopProgress/build/
/ExportAPI/build/
/ProjectUI/build/
/GraphAPI/build/
/ClusteringAPI/build/
/ClusteringPlugin/build/
/ToolsAPI/build/
/LayoutAPI/build/
/AttributesAPI/build/
/PreviewAPI/build/
/PreviewExport/build/
/DynamicAPI/build/
/StatisticsAPI/build/
/TimelineAPI/build/
/ExportPlugin/build/
/ExportPluginUI/build/
/Algorithms/build/
/RankingAPI/build/
/RankingPlugin/build/
/ImportAPI/build/
/GeneratorAPI/build/
/AttributeColumnPropertyEditor/build/
/SpigotPlugin/build/
/LayoutPlugin/build/
/ImportPlugin/build/
/DataLaboratoryAPI/build/
/LayoutPluginExample/build/
/AttributesImpl/build/
/PartitionPlugin/build/
/PartitionAPI/build/
/DHNSGraph/build/
/FilterPluginExample/build/
/FiltersAPI/build/
/ProcessorPlugin/build/
/PreviewPlugin/build/
/VisualizationAPI/build/
/FiltersImpl/build/
/SwingX/build/
/ProcessorPluginUI/build/
/SplineEditor/build/
/PreviewExportUI/build/
/JFreeChart/build/
/DesktopPerspective/build/
/UIUtils/build/
/DesktopGenerate/build/
/DesktopProject/build/
/DesktopRecentFiles/build/
/DesktopSpigot/build/
/DesktopFilters/build/
/SpigotPluginUI/build/
/ImportPluginUI/build/
/DesktopExport/build/
/DesktopImport/build/
/DesktopPartition/build/
/StatisticsPlugin/build/
/GeneratorPluginUI/build/
/GeneratorPlugin/build/
/FiltersPlugin/build/
/FractalDimension/build/
/DynamicImpl/build/
/ExecuteAtStartupExample/build/
/StatisticsPluginUI/build/
/DesktopContext/build/
/UIComponents/build/
/DesktopStatistics/build/
/FiltersPluginUI/build/
/RankingPluginUI/build/
/VisualizationModule/build/
/DesktopClustering/build/
/DesktopTools/build/
/DesktopDataLaboratory/build/
/WelcomeScreen/build/
/WorkspaceUI/build/
/DataLaboratoryPlugin/build/
/ToolsPlugin/build/
/DesktopLayout/build/
/PartitionPluginUI/build/
/DesktopBranding/build/
/DesktopHierarchy/build/
/DesktopPreview/build/
/JodaWrapper/build/
/DesktopRanking/build/
/DesktopTimeline/build/
/DirectoryChooser/build/
/dist/